body {
    margin: 0;
    background-color: rgba(87, 147, 242, .7);
    color: white;
}

h1 {
    text-align: center;
}

img {
    width: 60%;
    display: block;
    height: auto;
    margin: 0 auto;
}

h2, p {
    text-align: center;
}

p {
    margin-bottom: 1.4rem;
}

div.center {
    text-align: center;
}

ul, ol {
    display: inline-block;
    text-align: left;
    list-style-position: inside;
}

ul {
    padding: 0;
}


footer {
    text-align: center;
    padding: 2rem;
    font-size: 1.3rem;
}

section {
    width: 100%;
    background-color: black;
    color: white;
    padding: 2rem;
    text-align: center;
    font-size: 1.3rem;

}

.credits a {
    color: white;
}